<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>角色资源管理</title>
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'north',split:false,border:false">
			<div class="box form">
			<div class="labelBox">
			        <div class="labelLine300">
					<div class="labelWidth60">角色名称</div>
						<input class="easyui-validatebox" id="roleName" maxlength="50" placeholder="角色名称"/>
					</div>
			</div>
			<div class="btnBox">
				<a class="btn btnBlue search"  onclick="query()">查询</a>
			</div>
	</div>
	</div>
	<div data-options="region:'center',border:false">
    <table id="dg" class="easyui-datagrid"
		data-options="
	    pagination:true,
	    fit:true,
	    rownumbers:true,
	    onBeforeLoad:dgOnBeforeLoad,
	    singleSelect:true
	    ">
		<thead>
			<tr>
			    <th data-options="field:'operate',width:130,align:'center',formatter:operatefmt,halign:'center'">操作</th>
				<th data-options="field:'name',width:160,align:'left',halign:'center'">角色名称</th>
				<th data-options="field:'id',width:90,hidden:true,halign:'center'">id</th>
			</tr>
		</thead>
	</table>
	</div>
</div>
<script type="text/javascript">
    //查询参数
	function dgOnBeforeLoad(param) {
		param["name"]=$('#roleName').val();
	}
    
    //页面初始化
	$(function() {
		$('#dg').datagrid({
			url:'/manage/role/search.html'
		});
	})
	
	//查询角色列表
	function query() {
		$('#dg').datagrid('reload');
	}
	
	//操作格式化
	function operatefmt(value,row){
		var	str="<a href='javascript:void(0)' onclick='divideResource(this)'>资源分配</a>";
		return str;
	}
	
	//资源分配功能
	function divideResource(obj){
		var index = $(obj).closest("tr").index();
		$('#dg').datagrid('selectRow',index);
		var row=$('#dg').datagrid('getSelected');
		if(row){
		easyui_openTopWindow("角色资源分配", 360, 430, "/manage/roleResource/resourceList.html?id="+row.id,
				function(r) {
			       $('#dg').datagrid('reload');
				});
		}
		else{
			$.messager.alert("系统提示","请先选择一个要分配资源的角色!");
		}
	}
	
</script>
</body>
</html>

