<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>用户角色分配--角色信息列表</title>
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
<style type="text/css">
.list{padding:20px;}
.list li{height:20px; line-height: 20px;padding-left: 20px;list-style: none}
.list li input{ vertical-align: middle;}
</style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 28px;">
    <span style="margin-left: 5px;"><font color="red">${user.userName}</font>的角色:</span>
    </div>
    <div data-options="region:'center',title:'角色列表'" title="角色列表"
			id="layout-roleList" oncontextmenu="return false;">
	<div style="margin-top: 10px;margin-left: 30px;">
	<ul class="list">
    <#list roleList as role>
     <li>     
     <#if "${role.isCheck}" == "1">
     <input type="checkbox" name="role"  checked="checked"  value="${role.id}"/>${role.name}
     <#else>
     <input type="checkbox" name="role"  value="${role.id}"/>${role.name}
     </#if> 
     </li>
    </#list>
    </ul>
	</div>
    </div>
	<div data-options="region:'south'" style="height: 50px; padding: 10px; text-align: right;">
		<a class="btn btnBlue" onclick="save()" >保存</a>
		<a class="btn btnGrey" onclick="cancelAdd()"  style="margin-left: 10px;">关闭</a>
	</div>
<script type="text/javascript">
    //取消
    function cancelAdd(){
    	easyui_closeTopWindow();
    }
    //保存
    function save(){
            var chk_value =[];//定义一个数组    
            $('input[name="role"]:checked').each(function(){//遍历每一个名字为role的复选框，其中选中的执行函数    
            	chk_value.push($(this).val());//将选中的值添加到数组chk_value中    
            });
            if(chk_value==null||chk_value==""){
            	$.messager.confirm('系统提示','您确定不给该用户分配任何角色吗？',function(r){    
            	    if (r){    
            	    	var opts = {
                        		url : "/manage/userRole/delUserRole.html",
                        		type : "POST",
                        		data : {
                        			userCode:"${user.userCode}",
                        		},
                        		success : function(jsonStr) {
                        			var res = jsonStr;
                        			window.top.$.messager.alert("提示", res.msg, "info");
                        			if(res.success){
                        				easyui_closeTopWindow(true);
                        			}
                        		},
                        		error : function(XMLHttpRequest, textStatus, errorThrown) {
                        			alert("网络繁忙请稍后再试");
                        		},
                        		complete : function() {
                                    
                        		}
                        }
                	            $.ajax(opts);     
            	    }    
            	});  
            }
            else{
            var roleIds=chk_value.join(",");
            var opts = {
            		url : "/manage/userRole/addUserRole.html",
            		type : "POST",
            		data : {
            			roleIds:roleIds,
            			userCode:"${user.userCode}",
            		},
            		success : function(jsonStr) {
            			var res = jsonStr;
            			window.top.$.messager.alert("提示", res.msg, "info");
            			if(res.success){
            				easyui_closeTopWindow(true);
            			}
            		},
            		error : function(XMLHttpRequest, textStatus, errorThrown) {
            			alert("网络繁忙请稍后再试");
            		},
            		complete : function() {
                        
            		}
            }
    	             $.ajax(opts);
            }
    }
</script>
</body>
</html>