<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_css.html"/> 
<#include "/manage/common/meta_js.html"/> 
<title>修改知识体系</title>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<form id="fm" method="post">
			<div data-options="region:'center',border:false">
				<div class="box form">
					<div class="labelBox">
						<div class="labelLine300">
							<div class="labelWidth60">知识体系名称<span class="required">*</span></div>
							<input class="easyui-validatebox" id="name" name="name" data-options="required:true" maxlength="40" placeholder="请输入知识体系名称" value="${knowLedgeSerial.name}"/>
						</div>
						<span class="clear10"></span>
						<div class="labelLine350">
							<div class="labelWidth60">备注</div>
							<textarea class="easyui-validatebox textareaWidth250 textareaHeight100" id="memo" name="memo" maxlength="40">${knowLedgeSerial.memo}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div data-options="region:'south',border:false" style="text-align: right; padding:0 10px 10px 0;">
				<a class="btn btnBlue" id="btnSave" onclick="save()"  >保存</a>
				<a class="btn btnGrey" onclick="cancel()" style="margin-left: 5px;" id="btnCancel" >关闭</a>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		//保存按钮
		function save(){
			var name=$("#name").val().trim();
			var memo=$("#memo").val().trim();
			if ($("#fm").form("validate")) {
				$.ajax({
					url : "/manage/knowledgeSerial/updateKnowledgeSerial.html",
					data : {
						name:name,
						memo:memo,
						gid:"${knowLedgeSerial.gid}"
					},
					type : "POST",
					dataType : "json",
					success : function(result) {
						if (result.success) {
							$.messager.alert("提示", result.msg, "info",function(){
								easyui_closeTopWindow(result.data);
							});
						} else {
							$.messager.alert("提示", result.msg, "info");
						}
					}
				});
			}
		}
		
		//取消按钮
		function cancel(){
			easyui_closeTopWindow(false);
		}
	</script>
</body>
</html>