<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> <#include
"/manage/common/meta_css.html"/>
<script type="text/javascript" src="/manage/template/comboChange/comboChange.js"></script>
<script type="text/javascript" src="/manage/template/user/modifyPwd.js"></script>
<title>学生信息</title>
</head>
<body class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north'">
			<div class="box">
			<div class="labelBox">
		
				<div class="labelLine240">
					<span class="labelWidth60">学段：</span> <input class="easyui-combobox"
						id="section"
						data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							onSelect:sectionSelect,
							data: [
								{code: '',name: '不限',selected:true}
								<#if (sectionList?exists && sectionList?size>0)>
							  		<#list sectionList as section>
							  			,{code:'${section.code}', name:'${section.name?default('&nbsp;')}'}
							  		</#list>
								</#if>
							]," />
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">年级：</span> <input class="easyui-combobox"
						id="grade"
						data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							data:[{name:'不限',code:''}]" />
				</div>
				<div class="clear10"></div>
				<div class="labelLine240">
					<span class="labelWidth60">姓名：</span>
					<input id="userName" class="width130" placeholder="请输入姓名">
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">账号：</span>
					<input id="loginAccount" class="width130" placeholder="请输入登录账号">
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">学校：</span>
					<input id="orgName" class="width130" placeholder="请输入学校名称">
				</div>
				</div>
					<div class="btnBox">
				<a class="btn btnBlue search" onclick="javascript:$('#dg').datagrid('reload')">查询</a>
			</div>
			</div>
	</div>
	<div data-options="region:'center'">
		<table id="dg" class="easyui-datagrid"
			data-options="
			    pagination:true,
			    fit:true,
			    rownumbers:true,
			    fitColumns:true,
			    singleSelect:true,
			    onBeforeLoad:onBeforeLoad,
			    url:'/manage/student/studentPageInfo.html'
		    ">
			<thead> 
				<tr>
					<th data-options="field:'userName',width:120,halign:'center',align:'left'">姓名</th>
					<th data-options="field:'loginAccount',halign:'center',width:120,align:'left'">登录账号</th>
					<th data-options="field:'orgName',width:280,halign:'center',align:'left'">学校</th>
					<th data-options="field:'sectionName',width:80,halign:'center',align:'left'">学段</th>
					<th data-options="field:'gradeName',width:90,halign:'center',align:'left'">年级</th>
				    <th data-options="field:'genderStr',width:60,halign:'center',align:'left'">性别</th>
					<th data-options="field:'mobilePhone',width:140,align:'right',halign:'center'">手机号</th>
					<th data-options="field:'mail',width:140,halign:'center',align:'right'">邮箱</th>
					<th data-options="field:'studentNumber',width:140,halign:'center',align:'left'">学号</th>
				</tr>
			</thead>
		</table>
	</div>
		 <div id="menu"  class="easyui-menu" style="width: 120px">
<!-- 	 <div  data-options="iconCls:'icon-edit',name:'useful'">设为有效</div>   
   	 <div data-options="iconCls:'icon-edit',name:'useless'">设为无效</div>   
 -->	 <div data-options="iconCls:'icon-edit',name:'modifypwd'">修改密码</div>
	</div>
	<script type="text/javascript">
		function onBeforeLoad(param) {
			var sectionCode = $('#section').combobox('getValue');
			var gradeCode = $('#grade').combobox('getValue');
			var userName = $('#userName').val();
			var orgName = $('#orgName').val();
			param["sectionCode"] = sectionCode;
			param["gradeCode"] = gradeCode;
			param["orgName"] = orgName;
			param["userName"] = userName;
			param["loginAccount"]=$('#loginAccount').val();
			param["adminClassCode"]="${adminClassCode}";
		}
		//学段选择事件
		function sectionSelect(record) {
			sectionGrade(record.code, $('#grade'));
		}
	</script>
</body>
</html>