<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> 
<#include "/manage/common/meta_css.html"/>
<script type="text/javascript" src="/manage/template/comboChange/orgComboChange.js"></script>
<title>行政班级-查看任教信息页面</title>
<style type="text/css">
.width120 {
	width: 120px;
}

.labelLine200 {
	float: left;
	width: 200px;
	line-height: 30px;
}

.attrDiv {
	width: 250px;
}

.content {
	padding: 25px 20px;
	height: 100px;
}
</style>
</head>
<body>
    <div id="tb" style="height:30px">
		<div class="btnBox">
		<a class="btn btnBlue add" onclick="add()">新增</a>
		</div>
    </div>
    <table id="dg" class="easyui-datagrid"
				data-options="
				    pagination:true,
				    fit:true,
				    toolbar:'#tb',
				    rownumbers:true,
				    onBeforeLoad:dgonBeforeLoad,
				    singleSelect:true,
				    url:'/manage/adminClass/teachingInfo/search.html'
		        ">
				<thead>
					<tr>
						<th data-options="field:'subjectName',width:110,halign:'center',align:'left'">学科名称</th>
						<th data-options="field:'teacherName',width:110,halign:'center',align:'left'">老师姓名</th>
						<th data-options="field:'beginTime',halign:'center',width:120,align:'center',formatter:timefmt">任教开始日期</th>
						<th data-options="field:'endTime',width:120,halign:'center',align:'center',formatter:timefmt">任教结束日期</th>
						<th data-options="field:'operate',width:80,halign:'center',align:'center',formatter:optfmt">操作</th> 
					</tr>
				</thead>
	</table>
	<div id="modifyTeacherDlg" class="easyui-dialog" data-options="
				width:400,
				height:300,
				closed:true,
				draggable:true,
				buttons:[
				{
				iconCls:'icon-save',
				text:'保存',
				handler:saveModifyTeacherConfirm,
				},
				{
				iconCls:'icon-cancel',
				text:'取消',
				handler:function(){
					$('#modifyTeacherDlg').dialog('close');
				}
				}
				],
				modal:true,
    ">
	<form id="modifyTeacherForm" style="padding:10px">
	      <div class="labelBox">
			<div style="width:220px;margin-top: 20px">
			<span class="labelWidth60">任教老师：</span><input id="modifyteacher" class="easyui-combobox width120" data-options="
							valueField: 'teacherCode',
							textField: 'userName',
							panelHeight: 'auto',
							required:true,
							"/>
			</div>
			<div style="width:220px;margin-top: 20px">
				<span class="labelWidth60">任教开始时间：</span>
				<input id="modifybeginTime" style="width: 120px" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'modifyendTime\')}',dateFmt:'yyyy-MM-dd'})"/>
			</div>
			<div style="width:220px;margin-top: 20px">
				<span class="labelWidth60">任教结束时间：</span>
				<input id="modifyendTime" style="width: 120px" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'modifybeginTime\')}',dateFmt:'yyyy-MM-dd'})"/>
			</div>
			<!-- 隐藏域，存放表单默认值 -->
			<input type="text" id="modifyorgCode" style="display: none"/>
			<input type="text" id="modifysubjectCode" style="display: none"/>
			<input type="text" id="modifygradeCode" style="display: none"/>
			<input type="text" id="modifyadminClassCode" style="display: none"/>
			<input type="text" id="modifyoldTeacherCode" style="display: none"/>
		  </div>
	</form>
  </div>
  
  <div id="addDlg" class="easyui-dialog" data-options="
				width:650,
				height:250,
				closed:true,
				draggable:true,
				buttons:[
				{
				iconCls:'icon-save',
				text:'保存',
				handler:addAdminClassSubject,
				},
				{
				iconCls:'icon-cancel',
				text:'取消',
				handler:function(){
					$('#addDlg').dialog('close');
				}
				}
				],
				modal:true,
    ">
	<form id="addAdminClassSubjectForm" style="padding:10px">
			<div class="attrDiv">
				<span>老师：</span><input id="addTeacher" class="easyui-combobox" data-options="required:true,textField:'userName',valueField:'teacherCode'">
			</div>
			<div class="attrDiv">
				<span>学科：</span><input id="addSubject" class="easyui-combobox" data-options="required:true,textField:'name',valueField:'code',editable:false">
			</div>
			<div class="attrDiv">
				<span>年级：</span><input id="addGrade" class="easyui-combobox" data-options="required:true,textField:'name',valueField:'code',editable:false">
			</div>
			<div class="attrDiv">
				<span>开始时间：</span>
				<input id="addBeginTime" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'addEndTime\')}',dateFmt:'yyyy-MM-dd'})"/>
			</div>
			<div class="attrDiv">
				<span>结束时间：</span>
				<input id="addEndTime" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'addBeginTime\')}',dateFmt:'yyyy-MM-dd'})"/>
			</div>
	</form>
    </div>
    
     <div id="confirmDg" class="easyui-dialog" style="width:350px" data-options="
				closed:true,
				shadow:true,
				modal:true,
				buttons:[
				{
				iconCls:'icon-save',
				text:'是',
				handler:addTeacherInfo
				},
				{
				iconCls:'icon-cancel',
				text:'否',
				handler:saveModifyTeacher
				},
				{
				iconCls:'icon-cancel',
				text:'取消',
				handler:function(){
					$('#confirmDg').dialog('close');
				}
				}
				],
				modal:true,
    ">
    <div class="content">
	修改后是否保留原老师的任教信息？
	</div>
    </div>

    <script type="text/javascript">
        var defaultBeginTime="";
        var defaultEndTime="";
        //数据表格预加载
        function dgonBeforeLoad(param){
        	 var orgCode="${orgCode}";
        	 var adminClassCode="${classCode}";
        	 var gradeCode="${gradeCode}";
        	 param["orgCode"]=orgCode;
        	 param["adminClassCode"]=adminClassCode;
        	 param["gradeCode"]=gradeCode;
        }
        
        //时间格式化
        function timefmt(value,row){
        	if (value != "" && value != null) {
    			return moment(value).format("YYYY-MM-DD");
    		}
        }
        
        //操作列格式化
        function optfmt(value,row){
        	var	str = "<a href='javascript:void(0)' onclick='modifyTeacher(this)'>修改</a>";
    		return str;
        }
        
        var editRow="";
        //修改老师信息
        function modifyTeacher(obj){
        	editRow="";
    		var index = $(obj).closest("tr").index(); 
    		$('#dg').datagrid('selectRow', index);
    		var row = $('#dg').datagrid('getSelected');
    		editRow=row;
    		var orgCode=row.orgCode;
    		var teacherCode=row.teacherCode;
    		var subjectCode=row.subjectCode;
    		var gradeCode=row.gradeCode; 
    		var adminClassCode=row.adminClassCode;
    		var beginTimeStr=row.beginTime;
    		var endTimeStr=row.endTime;
    		var beginTime=moment(beginTimeStr).format("YYYY-MM-DD");
    		var endTime=moment(endTimeStr).format("YYYY-MM-DD");
    		//清空表单原有信息
    		$('#modifyTeacherForm').form('clear');
    		$('#modifyTeacherDlg').dialog({title:'修改老师信息'}).dialog({height:'300'}).dialog('open').dialog('center');
    		//加载机构的所有老师
    		getOrgAllTeacher(orgCode);
   		    $('#modifyteacher').combobox('setValue',teacherCode);
   		    $("#modifyorgCode").val(orgCode);
   		    $("#modifysubjectCode").val(subjectCode);
   		    $("#modifygradeCode").val(gradeCode);
   		    $("#modifyadminClassCode").val(adminClassCode);
   		    $("#modifybeginTime").val(beginTime);
   		    $("#modifyendTime").val(endTime);
   		    $("#modifyoldTeacherCode").val(teacherCode);
        }
        
        //修改前的确认框
        function saveModifyTeacherConfirm(){
        	var modifyTeacherCode= $('#modifyteacher').combobox('getValue');
        	var modifyBeginTime=$("#modifybeginTime").val();
	    	var modifyEndTime=$("#modifyendTime").val();
	    	if(modifyTeacherCode==editRow.teacherCode&&modifyBeginTime==moment(editRow.beginTime).format("YYYY-MM-DD")&&modifyEndTime==moment(editRow.endTime).format("YYYY-MM-DD")){
	    		alert("您没有做任何修改！");
	    	}else{
	    		//老师没有变更的情况，直接走修改的逻辑，修改时间
	    		if(modifyTeacherCode==editRow.teacherCode){
	    			saveModifyTeacher();
	    		}else{
	    			//反之弹出确认提示框，让用户确认操作
		        	$('#confirmDg').dialog({title:'确认信息'}).dialog({height:'150'}).dialog('open').dialog('center');
	    		}
	    	}
        }
        
        function addTeacherInfo(){
        	var orgCode="${orgCode}";
   		    var adminClassCode="${classCode}";
   		    var gradeCode="${gradeCode}";
   		    var teacherCode= $('#modifyteacher').combobox('getValue');
	    	var teacherName= $('#modifyteacher').combobox('getText');
	    	var beginTime=$("#modifybeginTime").val();
	    	var endTime=$("#modifyendTime").val();
   		    var subjectCode=editRow.subjectCode;
   		    $.ajax({
					url:"/manage/adminClass/addAdminClassSubject.html",
					data:{
						orgCode:orgCode,
						subjectCode:subjectCode,
						gradeCode:gradeCode,
						teacherCode:teacherCode,
						teacherName:teacherName,
						adminClassCode:adminClassCode,
						beginTimeStr:beginTime,
						endTimeStr:endTime
					},
					success:function(res){
						window.top.$.messager.alert("提示",res.msg, "info");
						$('#confirmDg').dialog('close');
						$('#modifyTeacherDlg').dialog('close'); 
						$("#dg").datagrid("reload");
					}
			 });
        }
        
        //保存修改教师操作
	    function saveModifyTeacher(){
	        	 var orgCode=$("#modifyorgCode").val();
	        	 var subjectCode=$("#modifysubjectCode").val();
	        	 var gradeCode=$("#modifygradeCode").val();
	        	 var adminClassCode=$("#modifyadminClassCode").val();
		    	 //获取当前的老师信息，Code和名字
		    	 var currentTeacherCode= $('#modifyteacher').combobox('getValue');
		    	 var currentTeacherName= $('#modifyteacher').combobox('getText');
		    	 var beginTime=$("#modifybeginTime").val();
		    	 var endTime=$("#modifyendTime").val();
		    	 var oldTeacherCode=$("#modifyoldTeacherCode").val();
		    	 $.ajax({
						url:"/manage/adminClass/teachingInfo/update.html",
						data:{
							orgCode:orgCode,
							subjectCode:subjectCode,
							gradeCode:gradeCode,
							teacherCode:currentTeacherCode,
							teacherName:currentTeacherName,
							adminClassCode:adminClassCode,
							beginTime:beginTime,
							endTime:endTime,
							oldTeacherCode:oldTeacherCode
						},
						success:function(res){
							window.top.$.messager.alert("提示", res.msg, "info");
							if(res.success){
								$('#confirmDg').dialog('close');
								$('#modifyTeacherDlg').dialog('close');
								$("#dg").datagrid("reload");
							}
						}
				})
	     }
	     
	     //查询某个机构的所有老师
	     function getOrgAllTeacher(orgCode){
	    	 $.ajax({
					url:"/manage/teacher/getTeacherList.html",
					data:{
						orgCode:orgCode
					},
					success:function(data){
						data.unshift({teacherCode:"",userName:"请选择"}); 
						$('#modifyteacher').combobox('loadData',data);
						$('#addTeacher').combobox('loadData',data);
					}
			})
	     }
	     
	     //保存新增行政班级学科
	     function addAdminClassSubject(){
	    	 if($('#addAdminClassSubjectForm').form('validate')){
	    		 var orgCode="${orgCode}";
	    		 var adminClassCode="${classCode}";
	    		 var gradeCode="${gradeCode}";
	    		 var teacherCode= $('#addTeacher').combobox('getValue');
		    	 var teacherName= $('#addTeacher').combobox('getText');
		    	 var beginTime=$("#addBeginTime").val();
		    	 var endTime=$("#addEndTime").val();
	    		 var subjectCode=$("#addSubject").combobox('getValue');
	    		 $.ajax({
						url:"/manage/adminClass/addAdminClassSubject.html",
						data:{
							orgCode:orgCode,
							subjectCode:subjectCode,
							gradeCode:gradeCode,
							teacherCode:teacherCode,
							teacherName:teacherName,
							adminClassCode:adminClassCode,
							beginTimeStr:beginTime,
							endTimeStr:endTime
						},
						success:function(res){
							window.top.$.messager.alert("提示", res.msg, "info");
							if(res.success){
								$('#addDlg').dialog('close');
								$("#dg").datagrid("reload");
							}
						}
				});
	    	 }
	     }
	     
	     //打开新增行政班级学科窗口
	     function add(){
	    		//清空表单原有信息
	    		$('#addAdminClassSubjectForm').form('clear');
	    		$('#addDlg').dialog({title:'新增行政班级任教信息'}).dialog({height:'250'}).dialog('open').dialog('center'); 
	    		var orgCode="${orgCode}";
	    		var sectionCode="${sectionCode}";
	    		var gradeCode="${gradeCode}";
	    		//查询机构学段学科
	    		orgSectionSubject(sectionCode,$('#addSubject'),true);
	    		//查询机构学段年级
	    		orgSectionGrade(sectionCode,$('#addGrade'),true);
	    		getOrgAllTeacher(orgCode);
	    		getDefaultTime();
	    		$("#addBeginTime").val(defaultBeginTime);
	    		$("#addEndTime").val(defaultEndTime);
	    		$('#addGrade').combobox('setValue',gradeCode).combobox('disable');
	     }
	     
	     //生成默认时间
	     function getDefaultTime(){
	    	    var month=new moment(new Date()).month();
	    		var year=new moment(new Date()).year();
	    		if(month>=9){
	    			defaultBeginTime=year+"-09-01";
	    			defaultEndTime=(year+1)+"-08-31"
	    		}else{
	    			defaultBeginTime=(year-1)+"-09-01";
	    			defaultEndTime=(year)+"-08-31"
	    		}
	     }
    </script>
</body>
</html>