<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
<#include "/manage/common/fileUpload.html"/>
<script type="text/javascript"  src="/manage/template/comboChange/comboChange.js"></script>
<script type="text/javascript" src="/manage/template/helper/helper.js"></script>
<script type="text/javascript" src="/manage/template/js/common.validatebox.js"></script>
<link rel="stylesheet"
	href="/manage/template/js/zTree_v3/css/zTreeStyle/zTreeStyle.css"
	type="text/css">
<script type="text/javascript"
	src="/manage/moveToCommon/js/plugins/zTree_v3/js/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="/manage/template/js/manageRes/ztreeUtil.js"></script>
<script type="text/javascript"
	src="/manage/template/js/manageRes/knowledgeTree.js"></script>
<script type="text/javascript"
	src="/manage/template/js/manageRes/chapterTree.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div data-options="region:'north'">
	<div class="form box">
	<div class="labelBox">
		<div class="labelLine300">
			<div class="labelWidth60">学段</div>
			<input class="easyui-combobox" id="section"
				data-options="
		valueField: 'code',
		textField: 'name',
		panelHeight: 'auto',
		editable: false,
		data: [
			{code: '',name: '请选择',selected:true}
			<#if (sectionList?exists && sectionList?size>0)>
		  		<#list sectionList as section>
		  			,{code:'${section.code}', name:'${section.name?default('&nbsp;')}'}
		  		</#list>
			</#if>
		],onSelect:sectionSelect" />
		</div>
		<div class="labelLine300">
			<div class="labelWidth60">年级</div>
			<input class="easyui-combobox" id="grade"
				data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							data: [{code: '',name: '请选择学段',selected:true}],
							onSelect:gradeSelect							
							" />
		</div>
		<div class="labelLine300">
			<div class="labelWidth60">学科</div>
			<input class="easyui-combobox" id="subject"
				data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							data: [{code: '',name: '请选择年级',selected:true}],
							onSelect:subjectSelect
							" />
		</div>
		<div class="labelLine300">
			<div class="labelWidth60">教材版本</div>
			<input class="easyui-combobox" id="version"
				data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							data: [{code:'',name: '请选择学科',selected:true}],
							onSelect:textbookVerSelect									
							" />
		</div>
		<div class="labelLine300">
			<div class="labelWidth60">教材</div>
			<input class="easyui-combobox" id="textbook"
				data-options="
							valueField: 'tbCode',
							textField: 'tbName',
							panelHeight: 'auto',
							editable: false,
							data: [{tbCode:'',tbName: '请选择教材版本',selected:true}]
							" />
		</div>
		</div>
			<div class="btnBox">
			<button class="easyui-linkbutton" id="btnSearch"
							onclick="initTree()" data-options="iconCls:'icon-search'"><img src="/manage/template/images/search.png">查询</button>
			<button class="easyui-linkbutton" id="btnSearch"
			onclick="save()" data-options="iconCls:'icon-search'">保存</button>
			</div>
		</div>
	</div>
	<div data-option="region:'center'">
		<ul class="ztree" id="chapterZtreeNode"></ul>
	</div>

	<div data-option="region:'south'">
		<ul class="ztree" id="knowLedgeZtreeNode"></ul>
	</div>
		<script type="text/javascript">
	var chapterAry=[];
    var knowledgeAry=[];
	var knowledgeZtreeObj;
	var chapterZtreeObj;
	var resId="${resId}";
		//学段选择事件
		function sectionSelect(record){
			sectionGrade(record.code,$('#grade'));
			$('#textbook').combobox('loadData',[]);
		}
		//年级选择事件
		function gradeSelect(record){
			gradeSubject(record.code,$('#subject'));
			$('#textbook').combobox('loadData',[]);
		}
			//学科选择事件
		function subjectSelect(record){
			subjectTextbookVer(record.code,$('#version'))
			$('#textbook').combobox('loadData',[]);
			
		}
			//教材版本选择事件
		function textbookVerSelect(record){
			var sectionCode=$("#section").combobox('getValue');
			var subjectCode=$("#subject").combobox('getValue');
			var gradeCode=$("#grade").combobox('getValue');
			textbookVerTextbook(sectionCode,subjectCode,gradeCode,record.code,$('#textbook'))
		}
			//ztree初始化
		function initTree(){
			 sectionCode=$("#section").combobox('getValue');
			 subjectCode=$("#subject").combobox('getValue');
			 gradeCode=$("#grade").combobox('getValue');
			 versionCode=$("#version").combobox('getValue');
			 termCode=$("#term").combobox('getValue');
			 textbookCode=$('#textbook').combobox('getValue');
			if(isEmpty(sectionCode)){
				alert("请选择学段");
				return ;
			}
			if(isEmpty(subjectCode)){
				alert("请选择学科");
				return ;
			}
			initKnowledge({resId:resId,sectionCode:sectionCode,subjectCode:subjectCode});
			initChapter({resId:resId,sectionCode:sectionCode,subjectCode:subjectCode,gradeCode:gradeCode,versionCode:versionCode,termCode:termCode,textbookCode:textbookCode});
		}
	//保存关系
		function save(){
			$.ajax({
				url:'/manage/res/saveDocRelate.html',
				data:{
					resId:resId,
					kpCodes:JSON.stringify(knowledgeAry),
					chapterAry:JSON.stringify(chapterAry),
				},
				type:'post',
				success:function(res){
					$.messager.alert("信息",res.msg,"info");
				}
			})
		}
	</script>
</body>
</html>