<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>学生基本信息</title>
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
</head>
<body>
<ul class="row_list">
	<li>
		<label>学号</label><input value="${student.studentNumber}">
		<label>姓名</label><input value="${student.userName}">
	</li>
    <li>
		<label>性别</label><input value="${student.gender}">
		<label>当前年级</label><input value="${student.gradeCodeCurrent}">
	</li>
	<li>
		<label>是否独生子女</label><input value="${student.flagOnly1Child}">
		<label>入学年月</label><input value="${student.enterSchoolDate}">
	</li>
</ul>
<script type="text/javascript">
$(function(){
	$(document).find("input").each(function(){
		 $(this).attr("readOnly","readOnly");	
	})	
})
</script>
</body>
</html>