<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>教师基本信息</title>
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
</head>
<style type="text/css">
.row_list li div{float:left}
.longContent{width:600px;}
.shortContent{width:300px;}
</style>
<body>
<ul class="row_list">
	<li>
		<label>教师姓名</label><input value="${teacher.userName}">
		<label>性别</label><input  value="${teacher.gender}">
	</li>
	<li>
		<label>工号</label><input  value="${teacher.workNo}">
		<label>参加工作年月</label><input  value="${teacher.workFirstDay}">
	</li>
	<li>
		<label>所属学段</label><input value="${teacher.sectionName}">
		<label>所属年级</label><input value="${teacher.gradeName}">
	</li>
	<li>
		<label>所属学科</label><input value="${teacher.subjectName}">
	</li>
</ul>
<script type="text/javascript">
$(function(){
	$(document).find("input,textarea").each(function(){
		 $(this).attr("readOnly","readOnly");	
	})		
})
</script>
</body>
</html>