<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> 
<#include "/manage/common/meta_css.html"/>
<title>平台信息页面</title>
<style type="text/css">
	#name{
		width:130px;
	}
</style>
</head>
<body>
		<div class="box">
			<div class="labelBox">
				<div class="labelLine240">
					<span class="labelWidth60">平台名称：</span> <input id="name" name="name" class="easyui-validatebox" maxLength="20"/>
				</div>
				<div class="labelLine240">
					<span class="labelWidth90">平台部署级别：</span> <input id="deployLevel" class="easyui-combobox " name="deployLevel" data-options="
						textField:'name',
						valueField:'code',
						editable:false,
						panelHeight: 'auto',
						data:[
						    {name:'请选择',code:'',selected:true},
							{'name':'校级','code':'20'},
							{'name':'区域级','code':'30'}
						]
				    "/>
				</div>
				<span class="clear"></span>
				<!-- <div class="labelLine240">
					<span class="labelWidth60">当前学年：</span>
					<input id="currentStudyYearCode" class="easyui-combobox" name="currentStudyYearCode" data-options="
						textField:'studyYearName',
						valueField:'studyYearCode',
						editable:false,
						panelHeight:'auto',
						data:[
						    {studyYearName:'请选择',studyYearCode:'',selected:true}
							<#if (studyYearList?exists && studyYearList?size>0)>
							  		<#list studyYearList as studyYear>
							  			,{studyYearCode:'${studyYear.studyYearCode}', studyYearName:'${studyYear.studyYearName?default('&nbsp;')}'}
							  		</#list>
						   </#if>
						]
				"/>
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">当前学期：</span> <input id="currentTermCode" class="easyui-combobox" name="currentTermCode" data-options="
				textField:'name',
				valueField:'code',
				editable:false,
				panelHeight: 'auto',
				data:[
				    {name:'请选择',code:'',selected:true},
					{'name':'第一（上）学期','code':'1'},
					{'name':'第二（下）学期','code':'2'}
				]"/>
				</div> -->
				<span class="clear"></span>
			</div>
		</div>
	   <div class="clear"></div>
	   <div style="float:left;padding:10px;text-align:center">
			<form id="form" enctype="multipart/form-data" method="post" action="/manage/company/uploadImage.html">
			<input hidden="hidden" type="file" name="file" id="platformImg" accept=".jpg,.png,.gif,.jpeg"/>
			<input hidden="hidden" id="fileType" name="fileType" value="platform"/>
				<img id="img1" style="cursor: pointer" height="45px" width="50px" onclick="$('#platformImg').click()"><br>
				<img id="img2" hidden="true"> 
     		          平台Logo    
		    </form>
       </div>
       <div class="clear"></div>
       <div style="margin-left:420px">
           <span>
               <a class="btn btnBlue"  onclick="save()">保存</a>
           </span>
       </div>
       <script type="text/javascript">
            var fileValue="";
            var imgChanged=false;
            var platformLogoUrl="";
            $(function() {
	    		 $("#name").val("${platform.name}");
	    		 $("#deployLevel").combobox('setValue',"${platform.deployLevel}");
    		     //$("#currentStudyYearCode").combobox('setValue',"${platform.currentStudyYearCode}");
    		     //$("#currentTermCode").combobox('setValue',"${platform.currentTermCode}");
    		     $('#img1').attr("src","${imgHost}/"+"${platform.platformLogo}");
    	    })
       
    	    //显示图片
		    function showPic(){
		    	var url=window.URL.createObjectURL($('#platformImg')[0].files[0]);
		    	$("#img1").attr("src",url);
		    	$('#img2').attr("src",url);
		    	imgChanged=true;
		    }
            
            //图片选择事件
            $('#platformImg').change(function(data){
            	var file=data.target.files[0];
            	if(!file){
            		$('#platformImg')[0].files=fileValue;
            		return false;	
            	}
        		if(file.type.indexOf("image")<0){
        			$('#platformImg')[0].files=fileValue;
        			window.top.$.messager.alert("提示", "平台Logo只能选择图片！", "info");
     			    return false;
     		    }
            	if(file.size>10000000){
            		$('#platformImg')[0].files=fileValue;
            		window.top.$.messager.alert("提示", "图片不能大于10M！", "info");
            		return false;
            	}
            	fileValue=data.target.files;
            	showPic();
            })
            
            //保存操作
            function save(){
            	if(imgChanged){
					$('#form').form('submit',{
	    				success:function(json){
	    					var res=$.parseJSON(json);
	    					platformLogoUrl=res.data;
	    					imgChanged=false;
	    					submitRequest();
	    				}
	    			})		
				}else{
					submitRequest();
				}	
            }
            
            //提交请求
            function submitRequest(){
               var name=$("#name").val();
               var deployLevel=$("#deployLevel").combobox('getValue');
               //var currentStudyYearCode=$("#currentStudyYearCode").combobox('getValue');
               //var currentTermCode=$("#currentTermCode").combobox('getValue');
               var gid="${platform.gid}";
               var platformLogo="";
               if(platformLogoUrl==null||platformLogoUrl==""){
            	   platformLogo="${platform.platformLogo}";
               }else{
            	   platformLogo=platformLogoUrl;
               }
               if(name==null||name==""){
            	   window.top.$.messager.alert("提示", "平台名称不能为空！", "info");
            	   return false;
               }
               if(deployLevel==null||deployLevel==""){
            	   window.top.$.messager.alert("提示", "平台部署级别不能为空！", "info");
            	   return false;
               }
               /* if(currentStudyYearCode==null||currentStudyYearCode==""){
            	   window.top.$.messager.alert("提示", "当前学年不能为空！", "info");
            	   return false;
               }
               if(currentTermCode==null||currentTermCode==""){
            	   window.top.$.messager.alert("提示", "当前学期不能为空！", "info");
            	   return false;
               } */
               saveModifyPlatformInfo(gid,name,deployLevel,platformLogo);
       }
       
       //保存修改平台信息
       function saveModifyPlatformInfo(gid,name,deployLevel,platformLogo){
    	   var opts={
      				url:'/manage/platform/save.html',
          			type:"post",
      				data:{
      					gid:gid,
      					name:name,
      					deployLevel:deployLevel,
      					/* currentStudyYearCode:currentStudyYearCode,
      					currentTermCode:currentTermCode, */
      					platformLogo:platformLogo
      				},
      				success:function(res){
      					window.top.$.messager.alert("提示", res.msg, "info");
      				},
      				error:function(XMLHttpRequest, textStatus, errorThrown) {
      					alert("网络繁忙请稍后再试");
      				},
      				complete:function() {
      				   		
      				}
      	        }
			$.ajax(opts);
       }
            
       </script>
</body>
</html>