<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> <#include
"/manage/common/meta_css.html"/>
<script type="text/javascript" src="/manage/moveToCommon/js/knockout-easyui-Lite/knockout-easyui.js"></script>
<script  type="text/javascript" src="/manage/template/agency/agency.js"></script>
<title>代理商信息</title>
<style>
.attrDiv input, .attrDiv400 input {
    width: 261px !important;
}
</style>
</head>
<body>
	<div style="padding:10px 0 0 20px;">
		<div class="attrDiv400">
			<span><span class="red">*</span>代理商名称：</span> <input data-bind="value:orgName" />

		</div>
		<div class="attrDiv400">
			<span class="labelWidth60"><span class="red">*</span>简称：</span> <input
				data-bind="value:orgNameShort" />
		</div>

		<span class="clear30"></span>
		<div class="attrDiv400">
			<span>联系人：</span><input data-bind="value:topName" />
		</div>
		<div class="attrDiv400">
			<span>联系电话：</span><input data-bind="value:phone" />
		</div>
		<span class="clear30"></span>
		<div class="attrDiv400">
			<span>邮箱：</span><input data-bind="value:mail" />
		</div>
	
		<!--ko if: add() -->
		<span class="clear30"></span>
		<div class="attrDiv400">
			<span><span class="red">*</span>管理员账号：</span> <input 
				data-bind="value:loginAccount" />
		</div>
		<div class="attrDiv400">
			<span>密码：</span> <input data-bind="value:password" />
		</div>
		<!--/ko-->
		<span class="clear30"></span>
		<div class="attrDiv850 ">
			<span>代理商描述：</span>
			<textarea cols="100" rows="5" data-bind="value:remark"></textarea>
		</div>
		<span class="clear30"></span>
		<div class="textCenter">
			<a class="btn btnBlue" data-bind="click:save">保存</a>
			<a class="btn btnCancel" data-bind="click:cancel,visible:withCancel">取消</a>
		</div>
	</div>
	<script type="text/javascript">
	
	var org=eval(${org})||null,
	noCancel="${noCancel}",
    sectionList=eval(${sectionList}),
    imgHost="${imgHost}",
    noCancel="${noCancel}",
	schoolRelated="${schoolRelated}";	//是否 是 机构新增 或修改
	</script>

</body>
</html>