<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> <#include
"/manage/common/meta_css.html"/>
<script type="text/javascript"
	src="/manage/template/comboChange/comboChange.js"></script>
</head>
<style>
	.textbox{
		width:122px !important;
		height:30px !important;
	}
</style>
<body>
<form id="fm" style="padding: 5px">
			<div class="attrDiv">
				<span>学生姓名：</span><input id="userName" class="easyui-validatebox" maxlength="30"
					data-options="required:true">
			</div>
			<div class="attrDiv">
				<span>学号：</span><input id="studentNumber" class="easyui-validatebox" maxlength="20"
							data-options="required:true,validType:'alphaChar[0,20]'">
			</div>
			<div class="clear10"></div>
			<div class="attrDiv">
				<span>年级：</span><input id="grade" class="easyui-combobox"
					data-options="onChange:gradeChange,textField:'name',valueField:'code',editable:false">
			</div>
			<div class="attrDiv">
				<span>学期：</span><input id="term" class="easyui-combobox"
					data-options="textField:'name',valueField:'code',editable:false,data:[{'name':'上学期',code:'1'},{'name':'下学期',code:'2'}]">
			</div>
			<div class="clear10"></div>
			<div class="attrDiv">
				<span>行政班级：</span><input id="adminClass" class="easyui-combobox"
					data-options="required:true,textField:'className',valueField:'classCode',editable:false">
			</div>
			<div class="attrDiv">
				<span>入学年月：</span><input  id="enterSchoolDate" class="wdate easyui-validatebox"
					onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" >
			</div>
			<div class="clear10"></div>
			<div class="attrDiv">
				<span>性别：</span><input id="gender" class="easyui-combobox"
					data-options="
					textField:'name',
					valueField:'code',
					editable:false,
					data:[
					{'name':'女','code':'2'},
					{'name':'男','code':'1'}
					]">
			</div>
			<div  class="attrDiv">
				<span>登录账号：</span><input   id="loginAccount" autocomplete="off" maxlength="50" class="easyui-validatebox"
					data-options="required:true,validType:'alphaChar[0,50]'">
			</div>
			<div class="clear10"></div>
			<div  class="attrDiv"> 
				<span>密码：</span><input id="loginPwd" type="password" autocomplete="off" class="easyui-validatebox" maxlength="20" data-options="required:true,validType:['password','length[6,20]']">
			</div>
		
			<div class="attrDiv">
				<span>手机号：</span><input id="mobilePhone" class="easyui-validatebox"
					data-options="validType:'mobile'">
			</div>
			<div class="clear10"></div>
			<div class="attrDiv">
				<span>邮箱：</span><input id="mail" class="easyui-validatebox" data-options="validType:'email'">
			</div>
			<div class="attrDiv">
				<span>硬件号：</span> <input id="studentHardNo" class="easyui-validatebox "  data-options="validType:'alphanumMaxLength[20]'">
			</div>
			<input id="gid" hidden="hidden">
			<span class="clear" ></span>
			<div class="textCenter">
			<a class="btn btnConfirm" onclick="saveStudent()" >保存</a>
			<a class="btn btnCancel" onclick="closeTop()" >取消</a>
			</div>
</form>
	<script type="text/javascript">
	var gradeCombo=$('#grade');
	var classCombo=$('#adminClass');
	var gradeCode="${gradeCode}";
	var gradeList=eval(${gradeList});
	var termCombo=$('#term');
	$(function(){
		gradeCombo.combobox('loadData',gradeList);
		if(gradeCode){
			gradeCombo.combobox('setValue',gradeCode);
			gradeCombo.combobox('disable');	
		}
	})
	//关闭学生编辑窗口
	function closeTop(){
		easyui_closeTopWindow(false)
	}
	//年级选择事件
	function gradeChange(newValue){
		$.ajax({
			url:'/manage/adminClass/getAdminClassList.html',
			data:{
				gradeCode:newValue
			},
			success:function(res){
				classCombo.combobox('clear');
				classCombo.combobox('loadData',res);
				if("${adminClassCode}"){
					classCombo.combobox('setValue',"${adminClassCode}");
					classCombo.combobox('disable');	
				}
			}
		})
	}
	
	//保存学生
	function saveStudent(){
		/* if($('#enterSchoolDate').val()==""){
			$.messager.alert("信息","请输入入学年月","info");
			return false;
		} */
		//学号验证规则：纯数字/纯字母/数字字母的组合
		var rule = /^[0-9a-zA-Z]*$/g;
		var studentNumber=$('#studentNumber').val();
		if(!rule.test(studentNumber)){
			$.messager.alert("信息","学号格式不对，请输入纯数字或纯字母或数字字母组合格式的学号！","info");
			return false;
		}
		var student={
				gradeCode:gradeCombo.combobox('getValue'),
			 	termCode:termCombo.combobox('getValue'),
			 	adminClassCode:encodeURI(classCombo.combobox('getValue')),
			    studentNumber:studentNumber,
				userName:$('#userName').val(),
				gender:$('#gender').combobox('getValue'), 
			 	enterSchoolDateStr:$('#enterSchoolDate').val(),
				loginAccount:$('#loginAccount').val()||"",
				loginPwd:$('#loginPwd').val()||"",
				mobilePhone:$('#mobilePhone').val(),
				mail:$('#mail').val(),
				studentHardNo:$('#studentHardNo').val(),
			};
		if($('#fm').form('validate')){
			$.ajax({
				url:'/manage/student/saveOrUpdateStudent.html',
				data:student,
				type:'post',
				success:function(res){
					$.messager.alert("信息",res.msg,"info",function(){
						if(res.success){
							easyui_closeTopWindow(true);
						}
					})
				}
			})
		}	
	}
	
	</script>
</body>
</html>