<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>课程班级学生</title>
<#include "/manage/common/meta_js.html"/> 
<#include "/manage/common/meta_css.html"/>
<script type="text/javascript" src="/manage/template/comboChange/orgComboChange.js"></script> 
</head>
<body >
	<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'north'" style="height: 55px">
		<div class="box">
			<div class="labelBox">
			<#if "${teachingClassCode}"=="">
				<div class="labelLine240">
					<span class="labelWidth60">学段：</span> <input class="easyui-combobox"
						id="section"
						data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							onSelect:sectionSelect,
						" />
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">年级</span> <input class="easyui-combobox"
						id="grade"
						data-options="
							valueField: 'code',
							textField: 'name',
							panelHeight: 'auto',
							editable: false,
							data:[{name:'请选择',code:''}]" />
				</div>
				<div class="labelLine240">
					<span class="labelWidth60">学科：</span> <input
						class="easyui-combobox" id="subject"
						data-options="
						valueField: 'code',
						textField: 'name',
						panelHeight: 'auto',
						editable: false,
						data:[{name:'请选择',code:''}]" />
				</div>
				<span class="clear5" ></span>
				</#if>
				<div class="labelLine320">
					<span class="labelWidth60">姓名</span> <input id="studentName"
						placeholder="请输入姓名">
				</div>
			</div>
			<div class="btnBox">
				<a class="btn btnBlue search" onclick="javascript:$('#stuDg').datagrid('reload')">查询</a>
				<a class="btn btnBlue add" onclick="addStudent()">新增</a>
			</div>
		</div>
	</div>
	<div data-options="region:'center'">
		<table id="stuDg" class="easyui-datagrid"
			data-options="
		    pagination:true,
		    fit:true,
		    rownumbers:true,
		    singleSelect:true,
		    pageSize:15,
		    onBeforeLoad:onBeforeLoad,
		    url:'/manage/teachingClassStudent/listClassStudent.html'
		    ">
			<thead>
				<tr>
					<th data-options="field:'opt',width:130,formatter:optfmt,halign:'center',align:'center'">操作</th>
					<th data-options="field:'teachingClassName',halign:'center',width:150,align:'left'">班级名称</th>
					<th data-options="field:'studentName',width:120,halign:'center',align:'left'">学生姓名</th>
					<th data-options="field:'subjectName',width:90,halign:'center',align:'left'">学科名称</th>
					<th data-options="field:'gradeName',width:90,halign:'center',align:'left'">年级名称</th>
					<th data-options="field:'startTime',formatter:timeFmt,width:90,halign:'center',align:'center'">开始时间</th>
					<th data-options="field:'endTime',formatter:timeFmt,width:90,halign:'center',align:'center'">结束时间</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<script type="text/javascript">
var sectionList=eval(${sectionList});
var teachingClassCode="${teachingClassCode}";
var adminClassCode="${adminClassCode}";
$(function(){
	if(teachingClassCode==""){
		sectionList.unshift({name:'不限',code:''})
		$('#section').combobox('loadData',sectionList);
		selectComboFirst($('#section'));
	}
})
//操作
function optfmt(value,row){
	return "<a href='javascript:void(0)' onclick='delStudent(\""+row.studentCode+"\",\""+row.teachingClassCode+"\")'>删除</a>"
	
}
//删除学生
function delStudent(studentCode,teachingClassCode){
	$.messager.confirm("信息","确认要删除吗?",function(r){
		if(r){
			$.ajax({
				url:'/manage/teachingClassStudent/deleteStudent.html',
				data:{
					userCode:studentCode,
					teachingClassCode:teachingClassCode,
				},
				success:function(res){
					$.messager.alert("信息",res.msg);
					if(res.success){
						$('#stuDg').datagrid('reload');
						$('#dg').datagrid('reload');
					}
				}
			})	
		}
	})
}
function onBeforeLoad(param){
	param["gradeCode"]="${gradeCode}";
	if(teachingClassCode==""){
		param["gradeCode"]=$('#grade').combobox('getValue');
		param["subjectCode"]=$('#subject').combobox('getValue');
	}
	param["teachingClassCode"]="${teachingClassCode}";
	param["studentName"]=$('#studentName').val();
	
}
function sectionSelect(value){
	orgSectionSubject(value,$('#subject'));
	orgSectionGrade(value,$('#grade'));
}
//时间格式化
function timeFmt(value,row){
	return value?moment(value).format("YYYY-MM-DD"):"";
}

function addStudent(){
	easyui_openTopWindow("课程班级学生选择",1100,800,"/manage/company/toSchoolStudentInfo.html?studentChoose=1&adminClassCode="+encodeURI(adminClassCode)+"&teachingClassCode="+encodeURI(teachingClassCode)+"&gradeCode=${gradeCode}",function(r){
		if(r){
			$('#stuDg').datagrid('reload');
			$('#dg').datagrid('reload');
			
		}
	})
}
</script>
</body>
</html>