<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>资源纠错</title> 
<#include "/manage/common/meta_js.html"/> 
<#include "/manage/common/meta_css.html"/>
<script type="text/javascript" src="/manage/template/js/photoSwipe.js"></script>
</head>
<style type="text/css">
	.feedback-content{
		height: 100%;
		position: relative;
		margin-left: 10px;
	}
	.problemDescribe,.treatDescribe{
		padding: 20px 0;
	}
	.describeTitle{
		font-weight: 700;
		float: left;
	}
	.treatDescribe{
		margin-bottom: 40px;
	}
	p{
		margin-top: 0;
	}
	img {
		max-width: 800px;
		max-height: 800px;
	}
	.btnBox{
		position: fixed;
		bottom: 0;
		right: 0px;
	}
</style>
<body>
	<div class="feedback-content">
		<div class="problemDescribe">
			<span class="describeTitle">问题描述：</span>
			<span style="word-wrap: break-word; width: 700px; display: inline-block" id="errorDesc"></span>
		</div>
		<div id="errorDesc"></div>
		<div class="treatDescribe">
			<span class="describeTitle">处理说明：</span>
			<textarea id="disposeDesc" rows="12" cols="110" class="textarea" maxlength="500"></textarea>
		</div>
		<div class="btnBox">
			<button id="handle" class="btn btnBlue" onclick="handle()">处理</button>
			<button id="noHandle" class="btn btnBlue" onclick="noHandle()">无需处理</button>
			<button id="cancle" class="btn btnCancel" onclick="cancel()">取消</button>
		</div>
	</div>
	<script type="text/javascript">
		var id = "";
		var disposeStatus = "";
		var url = "${frontUrl}";
		$(function() {
			var params = easyui_getParam();
			id = params["id"];
			if (params != null) {
				var result = Ajax_request(
						"/manage/feedback/resErrorFeedbackDaily.html", {
							id : id,
						})
				disposeStatus = result.disposeStatus;
				if (disposeStatus != 0) {
					$("#disposeDesc").attr("readonly","readonly");
					document.getElementById("handle").disabled = "disabled";
					document.getElementById("noHandle").disabled = "disabled";
					document.getElementById("handle").style.background = "grey";
					document.getElementById("noHandle").style.background = "grey";
				}
				var errorDesc = result.errorDesc;
				var disposeDesc = result.disposeDesc;
				var a = /src.\S{0,30}stati/ig;
				var b = /href.\S{0,30}assetsView/ig;
				var c = /src.\S{0,30}assetsView/ig;
				var d = /href.\S{0,30}stati/ig;
				errorDesc = errorDesc.replace(a, "src=\"" + url + "/stati");
				errorDesc = errorDesc.replace(b, "href=\"" + url
						+ "/assetsView");
				errorDesc = errorDesc
						.replace(c, "src=\"" + url + "/assetsView");
				errorDesc = errorDesc.replace(d, "href=\"" + url + "/stati");
				$("#errorDesc").html(errorDesc);
				$("#disposeDesc").html(disposeDesc);
				var ssr = document.getElementsByTagName("img");
				var all = $("a");
				_.each(all, function(item) {
					item.href = item.href + "?n=" + $(item).html()
				})
				var all = $("img");
				_.each(all, function(item) {
					$(item).click(function() {
						$(this).photoSwipe(1);
					});
				})
				var alla = document.getElementsByTagName("a");
				for (var i = 0; i < alla.length; i++) {
					$(alla[i]).prev().unbind('click').click(function() {
						location.href = $(this).next()[0].href;
					});
				}
			}
		});
		//ajax请求
		function Ajax_request(url, data) {
			var result = [];
			$.ajax({
				url : url,
				data : data,
				async : false,
				type : 'post',
				success : function(json) {
					result = json;
				}
			})
			return result;
		}
		
		function cancel() {
			easyui_closeTopWindow(false);
		}
		
		function handle() {
			if (disposeStatus != 0) {
				$.messager.alert("信息", "所选信息已被处理！", "info");
				return;
			}
			disposeDesc = document.getElementById("disposeDesc").value.trim();
			if (disposeDesc == null || disposeDesc == "") {
				$.messager.alert("信息", "处理说明不能为空！", "info");
				return;
			}
			$.messager.confirm("信息", "确认要处理吗？一旦处理将不可恢复！", function(r) {
				if (r) {
					var result = Ajax_request(
							"/manage/feedback/updateDescResErrorFeedback.html", {
								ids : id,
								disposeDesc : disposeDesc
							})
					Ajax_request("/manage/feedback/updateStatusResErrorFeedback.html",
							{
								ids : id,
								operateType : 1
							})
					if (result.success) {
						easyui_closeTopWindow(true);
					}
				}
			})
		}
		
		function noHandle() {
			if (disposeStatus != 0) {
				$.messager.alert("信息", "所选信息已被处理！", "info");
				return;
			}
			disposeDesc = document.getElementById("disposeDesc").value.trim();
			if (disposeDesc == null || disposeDesc == "") {
				$.messager.alert("信息", "处理说明不能为空！", "info");
				return;
			}
			$.messager.confirm("信息", "确认要无需处理吗？一旦无需处理将不可恢复！", function(r) {
				if (r) {
					var result = Ajax_request(
							"/manage/feedback/updateDescResErrorFeedback.html", { 
								ids : id,
								disposeDesc : disposeDesc
							})
					Ajax_request(
							"/manage/feedback/updateStatusResErrorFeedback.html", {
								ids : id,
								operateType : 2
							})
					if (result.success) {
						easyui_closeTopWindow(true);
					}
				}
			});
		}
	</script>
</body>
</html>