<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/> 
<#include "/manage/common/meta_css.html"/>
<title>其他设置主页面</title> 
</head>
<body class="easyui-layout" data-options="fit:true">
<div data-options="region:'center'" data-options="fit:true">
	<div id="tt" class="easyui-tabs" data-options="
			fit:true,
			onLoad:function(){$(this).tabs('resize')}
	        ">
	<div title="云盘">
	<iframe src="/manage/otherSettings/cloudDisk.html" frameborder="0" height="100%" width="100%"></iframe>  
	</div>
	<div title="资源评论">
	<iframe src="/manage/otherSettings/resComment.html" frameborder="0" height="100%" width="100%"></iframe> 
	</div>
	<div title="临时账号设置">
	<iframe src="/manage/otherSettings/accountSet.html" frameborder="0" height="100%" width="100%"></iframe> 
	</div>
	<div title="平台信息设置">
	<iframe src="/manage/platform/info.html" frameborder="0" height="100%" width="100%"></iframe>
	</div>
	</div>
</div>
     <script>
		$(function() {
			setTimeout(function(){
				$('#tt').resize().tabs('scrollBy', 0);
			}, 100);
		});
	 </script>
</body>
</html>