/* CSS Document */
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/150% "Microsoft YaHei", Helvetica, STFangSong, Arial, Vernada,
		Tahoma, STXihei, "Songti SC", SimSun, Heiti, sans-serif, "\5b8b\4f53";
	color: #333; padding: 0;margin: 0
}

a {
	text-decoration: none;
	color: #333;
}

a:hover, .orange:hover {
	color: #333;
}

.orange {
	color: #eb7126;
}


.login {
/* 	margin: 50px auto; */
	width: 280px;
	height: 320px;
	position:relative;
	margin:30px 20px 10px 20px;
}
.form #msgDiv{
	position:absolute;
	top:25px;
	right:0px;
	color:red;
	z-index:99;
}
.form .mt h2 {
	margin-top:15px;
	font-size: 18px;
	margin-bottom: 20px;
}

.form .item {
	position: relative;
	margin-bottom: 23px;
	z-index: 1;
	height: 30px;
	width: 240px;
}

.form .item .label {
	position: absolute;
	z-index: 3;
	top: 6px;
	left: 6px;
	width: 18px;
	height: 18px;
	background: url(../../images/passport/login-icon.png) no-repeat;
}

.form .item .label.login-label {
	background-position: 0 0;
}

.form .item .label.pwd-label {
	background-position: -18px 0
}

.form .item .text {
	line-height: 18px;
	height: 18px;
	border: 0;
	padding: 6px 0 6px 34px;
	width: 205px;
	float: none;
	overflow: hidden;
}

.form .item.valid .text {
	padding: 6px 0 6px 10px;
	width: 60px;
	float: left;
}

.form .item.valid .img {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	border: 1px solid #ccc;
	width: 60px;
	margin-left: 10px;
}

.form .item.valid .txt {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	width: 60px;
	float: right;
	text-align: right;
}

.form .safe {
	height: 18px;
}

.form .safe span {
	margin-right: 15px;
}

.form .safe .forget-pw-safe {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

.form .safe .login-btn {
	border: 1px solid #cb2a2d;
	margin: 0 auto;
	height: 33px;
	position: relative;
}

.form .login-btn .btn-img {
	border: 1px solid #e85356;
	display: block;
	width: 145px;
	background: #eb7126;
	padding-left: 92px;
	height: 38px;
	line-height: 38px;
	color: #fff;
	font-size: 20px;
	font-family: '\5fae\8f6f\96c5\9ed1';
}

.form  .login-btn span {
	display: inline-block;
	position: relative
}

.form  .login-btn span b {
	position: absolute;
	background-image: url(../../images/passport/login-icon.png);
	background-position: 0 -18px;
	width: 26px;
	height: 26px;
	display: inline-block;
	left: 70px;
	top: 6px;
}

.form .reg span {
	display: block;
	text-align: center;
	width: 280px;
}
.form span.space{
	margin:0 10px;
}
