<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<#include "/manage/common/meta_js.html"/>
<#include "/manage/common/meta_css.html"/>
<link rel="stylesheet" type="text/css"
	href="/manage/template/css/index.css" />
<script type="text/javascript" src="/manage/template/index/index.js"></script>
<script type="text/javascript" src="/manage/template/user/modifyPwd.js"></script>
<title>${platform.name}-后台管理</title>
<style>
.tabs {
	height: 40px !important;
	border: 1px solid #ddd;
}

.tabs li a.tabs-inner {
	height: 40px !important;
	margin: 0;
	border: 0;
	border-right: 1px solid #ddd;
}

.tabs li.tabs-selected a.tabs-inner {
	height: 40px !important;
	margin: 0;
	border: 0;
	border-right: 1px solid #ddd;
}
</style>
<script type="text/javascript">
	$(function() {
				//修改密码
				$("#btnUpdatePassword").click(function() {
					modifypwd("${adminUser.userCode}");
				});
				$('#platformLogo').attr("src","${imgHost}/" + "${platform.platformLogo}");
				$('#treeMenu').tree({data:[{    
				    "id":1,    
				    "text":"资源统计",    
				    "children":[
				     {    
				        "text":"概况",    
				        "checked":true,
				        "attributes":{    
				            "url":"/manage/survery/toSurvery.html",    
				        }
				    },{    
				        "text":"汇总统计",    
				        "state":"open",    
				        "attributes":{    
				            "url":"/manage/reportOrgResDaily/toResReportDetial.html",    
				        }
				    },{    
				        "text":"按作者统计", 
				    	"attributes":{    
				            "url":"/manage/teacherResMakeDaily/list.html",    
				        }
				    },{    
				        "text":"按机构统计",  
				        "attributes":{    
				            "url":"/manage/reportOrgResDaily/toReportResOrg.html",    
				        }
				    },{    
				        "text":"按学科统计", 
				        "attributes":{    
				            "url":"/manage/subjectReport/list.html",    
				        }
				    },{    
				        "text":"章节体系统计",
				        "attributes":{    
				            "url":"/manage/coverageTb/toCoverageTb.html",    
				        }
				    },{    
				        "text":"知识点体系统计", 
				        "attributes":{    
				            "url":"/manage/coverageKps/toCoverageKps.html",    
				        }
				    },{    
				        "text":"使用统计",
				        "attributes":{    
				            "url":"/manage/orgResOperateDaily/list.html",    
				        }
				    }] 
				}]});	
				
	})
		
</script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true">
		<div data-options="region:'north',border:false">
			<div style="float: left;">
				<img id="platformLogo"
					style="height: 37px; margin-left: 10px; margin-top: 15px" alt="" />
				<span class="systemTitle"> ${platform.name}-后台管理 <sup
					style="color: #000406"></sup>
				</span>
			</div>
			<iframe style="display: none" id="formLogot"></iframe>
			<div class="rightInfo align-right clearfix">
				<span class="adminInfo">欢迎您，${adminUser.userName}</span> <a
					class="downMenu cursor" onclick="showMenu()"></a>

			</div>
		</div>
		<div data-options="region:'west',title:' ',split:true,border:false"
			class="leftSidebar">
			<div id="treeMenu" class="easyui-tree"></div>
			<div class="companyInfo">
				<p>技术支持</p>
				<p>苏州百智通信息技术有限公司</p>
			</div>
		</div>
		<div data-options="region:'center',split:true">
			<div class="easyui-tabs" id="tab"
				data-options="
			fit:true,
			border:false,
			"></div>
			<div id="tabMenu" style="width: 100px; display: none;">
				<div title="close" data-options="iconCls:'icon-remove'">关闭</div>
				<div title="closeOther" data-options="iconCls:'icon-remove'">关闭其他</div>
				<div title="closeAll" data-options="iconCls:'icon-remove'">关闭全部</div>
			</div>
		</div>
	</div>
	<div class="infoMenu">
<!-- 		<div id="btnUpdatePassword">修改密码</div>
		<div class="splitLine"></div> -->
		<div id="btnExit">退出登录</div>
	</div>
</body>
</html>