<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>三级联动代码</title>
<link type="text/css" rel="stylesheet" href="css.css" />
</head>
<body>

<ul id="list1" style="width:620px;margin:40px auto 0 auto;">
	<li id="summary-stock">
		
		<div class="dd">
			<div id="store-selector">
				<div class="text"><div></div>选择地区</div>                   
				<div onclick="$('#store-selector').removeClass('hover')" class="close"></div>
			</div><!--store-selector end-->
			<div id="store-prompt"><strong></strong></div><!--store-prompt end--->
		</div>
	</li>
</ul>


<script src="jquery-1.9.1.min.js"></script>
<script src="location.js"></script>
<br>
